
html {
    font-size: $baseFontSize;

    body {
        background-color: $backgroundColorBody;
        font-family: $baseFontFamily;

        h1, h2, h3, h4, h5, h6 {
            color: $baseFontColor;
            text-align: center;
        }

        h1 {
            //font-size: 5rem;
            font-size: 2.5rem;
            letter-spacing: .5rem;
            text-transform: uppercase;
        }
    }
}
