
/*-------------------------------------------------------

    >>> Breakpoints

-------------------------------------------------------*/

$breakpointSmall:                           576px;
$breakpointMedium:                          768px;
$breakpointLarge:                           992px;
$breakpointExtraLarge:                      1200px;

/*-------------------------------------------------------

    >>> Colors

-------------------------------------------------------*/

$baseFontColor:                             #ddd;
$backgroundColorBody:                       #222;

/*-------------------------------------------------------

    >>> Font Families

-------------------------------------------------------*/

$baseFontFamily:                            'Jockey One', sans-serif;

/*-------------------------------------------------------

    >>> Sizes

-------------------------------------------------------*/

$baseFontSize:                             10px;